@media (max-width: 767.98px) {
	.rodape {
		margin-top: 3em;
		height: 3em;
		font-size: 1.3em;
		width: 100%;
		text-align: center;
	}

	.rodape1 {
		margin-top: 0.5em;
		height: 3em;
		font-size: 1.3em;
		width: 100%;
	}
}

@media (min-width: 768px) {
	.rodape {
		position: absolute;
		bottom: 0;
		height: 3em;
		font-size: 1.3em;
		width: 100%;
	}

	.rodape1 {
		margin-top: 0.5em;
		height: 3em;
		font-size: 1.3em;
		width: 100%;
	}
}

select:hover {
	cursor: pointer;
}

.link-light-animation {
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 0.5em;
	text-align: center;
	font-weight: bold;
}

.link-light-animation:hover {
	color: black;
	border: 1px solid white;
	background-color: white;
	border-radius: 5px;
	padding: 0.5em;
	text-align: center;
}

.link-light:hover {
	text-decoration: underline;
}

.input-vazio {
	color: #fff;
	background-color: rgba(255, 57, 57, 0.534);
}

.input-vazio:-webkit-input-placeholder {
	color: #fff;
}

.input-vazio::-webkit-input-placeholder {
	color: #fff;
}

.input-vazio:-moz-input-placeholder {
	color: #fff;
}

.input-vazio::-moz-input-placeholder {
	color: #fff;
}

.input-vazio:-o-input-placeholder {
	color: #fff;
}

.input-vazio::-o-input-placeholder {
	color: #fff;
}

.input-vazio:-ms-input-placeholder {
	color: #fff;
}

.input-vazio::-ms-input-placeholder {
	color: #fff;
}

.msg-sucesso-texto-tamanho {
	font-size: 1.2em;
}
