.link-light-animation {
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 0.5em;
	text-align: center;
	font-weight: bold;
}

.link-light-animation:hover {
	color: black;
	border: 1px solid white;
	background-color: white;
	border-radius: 5px;
	padding: 0.5em;
	text-align: center;
}

.input-vazio {
	color: #fff;
	background-color: rgba(255, 57, 57, 0.534);
}

.input-vazio:-webkit-input-placeholder {
	color: #fff;
}

.input-vazio::-webkit-input-placeholder {
	color: #fff;
}

.input-vazio:-moz-input-placeholder {
	color: #fff;
}

.input-vazio::-moz-input-placeholder {
	color: #fff;
}

.input-vazio:-o-input-placeholder {
	color: #fff;
}

.input-vazio::-o-input-placeholder {
	color: #fff;
}

.input-vazio:-ms-input-placeholder {
	color: #fff;
}

.input-vazio::-ms-input-placeholder {
	color: #fff;
}

.rodape {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	bottom: 0%;
	height: 3em;
	font-size: 1.3em;
	width: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
